a{

    margin-left: 50px;
}
body{

    background: radial-gradient(at top, #FAECD5, aliceblue)

}
h1{
    color: lightgrey;


}
*{
box-sizing: border-box;

}
p {
    text-indent: 25px;
    margin-bottom: 0;
}
a{

}
img{

}


.row1 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;

}

/* Create four equal columns that sits next to each other */
.column1 {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    margin-right:10px;


}

.column1 img {

    vertical-align: middle;
    margin-bottom: 10px;

}

@media screen and (max-width: 768px) {
    .column1 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.footer div
{

    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

}
label {
    width: 100px;
}
label.error {
    color: red;
}
input {
    border : 1px solid #ccc;
}
input.error {
    border-color: red;
}
.content {
    padding: 15px;
    border: 1px solid #ccc;
}
.red{

    border-color: red;
}
.border{
    border-color: red;

}
.border1
{
    color: #ccc;
}